
#login-header {
    color: #14FFEC;
    letter-spacing: .3rem;
}

#vaadin-text-field-0, #vaadin-password-field-1 {
    color: #14FFEC;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .15rem;
}

[part="vaadin-login-native-form-wrapper"] {
    border-radius: 11px;
    box-shadow: inset 4px 4px 22px #2a2a2a ,
    inset -4px -4px 24px #2a2a2a ;
    font-family: 'Ubuntu', sans-serif;
}

#vaadinLoginPassword, #vaadinLoginUsername {
    color: #14FFEC;
    font-family: 'Ubuntu', sans-serif;
}

[part="vaadin-login-submit"] {
    color: #323232;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .15rem;
}

a {
    color: #14FFEC;
    letter-spacing: .15rem;
    font-weight: 200;
    font-size:.8rem;
}

a:hover {
    color:  #ff7f00;
    font-weight: 400;
    text-decoration: none;
}

p {
    color: #14FFEC;
    letter-spacing: .15rem;
}